<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../mystyle.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>My Contact Information</title>
</head>

<body>

  <ul style="list-style-type: none">
    <li style="float: left"><a style="color: black;text-align: center;" href="index.html"><img src="../Images/Menu.png" alt="Forside" width="25"
          height="25">
        <center>Front page</center>
      </a></li>
    <li style="float: left"><a style="color: black;text-align: center;" href="Logs.html"><img src="../Images/Kamera.png" alt="Kameraer" width="25"
          height="25">
        <center>Logging</center>
      </a></li>
    <li style="float: left"><a style="color: black;text-align: center;" href="Recordings.html"><img src="../Images/Video.png" alt="Video" width="25"
          height="25">
        <center>Recordings</center>
      </a></li>
    <li style="float: left"><a style="color: black;text-align: center;" href="About.html"><img src="../Images/About.png" alt="About" width="25"
          height="25">
        <center>About</center>
      </a></li>
    <li style="float: left"><a style="color: black; text-align:  center;" href="FBI.html"><img src="../Images/FBI.png" alt="FBI" width="50"
          height="25">
        <center>FBI Most Wanted</center>
      </a></li>
      <li style="float: left"><a style="color: black; text-align:  center;" href="MyInfo.html"><img src="../Images/myinformation.png" alt="myinfo" width="25"
        height="25">
      <center>My Contact Information</center>
    </a></li>
    <li style="float: right; border-radius: 5px; background-color: rgb(143, 143, 143); padding: 20px;">
      <div class="custom-switch custom-switch-label-status pl-0">
        <h6>Security system status</h6>
        <input class="custom-switch-input" id="checkbox" type="checkbox">
        <label class="custom-switch-btn" for="checkbox"></label>
      </div>
    </li>
  </ul>

    <h1 style="text-align: center;">My information</h1>
    <div id="app">
        <div style="border: 1pt; border-style: solid; padding: 20pt">
                <label for="Firstname">Firstname:</label> <br> <input v-model="firstName" type="text" placeholder="First name" id="firstName" /> 
                <br>
                <label for="Email">Email:</label> <br> <input v-model="email" type="text" placeholder="Email" id="email" />
                <br>
                <label for="Phonenumber">Phonenumber:</label> <br> <input v-model="phonenumber" type="text" placeholder="Phonenumber" id="phonenumber" />
                <br>
                <button v-on:click="save(firstName, email, phonenumber)" id="saveButton">Save</button>
                <button v-on:click="show()" id="showButton">Show</button>
                <span id="output">{{message}}</span>
        </div>
    </div>

    <div class="footer">
        <p>
            Support kontaktoplysninger: <br>
            Navn: CamSanctuary Hotline <br>
            Mail: CamSanctuary@gmail.com <br>
            Mobil: +45 31 20 58 06</p>
    </div>


    <script src="../js/myInfo.js"></script>
</body>

</html>